.register-form{
    display: flex;
    justify-content: center;
    input[type=text], input[type=password] {
    width: 94%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }


  .container {
    padding: 16px 30px;
    top: 40px;
    position: relative;
    width: 35%;
    background: #1B1B14;
    border-radius: 3px;
    .button-row{
        display: flex;
        justify-content: flex-end;
    }
  }
  
}