
<div class="login-container" layout="row" layout-xs="column">


<div  class="login-form">
<div class="text">LOGIN</div>
<form>
        <div class="field">
        <div class="fas fa-envelope">
</div>
<input type="text" placeholder="Email or Phone">
        </div>
<div class="field">
          <div class="fas fa-lock">
</div>
<input type="password" placeholder="Password">
        </div>
<button (click)="redirect('login')" routerLink="/pet">LOGIN</button>
        <div class="link">
          Not a member?
          <a class="signup-text" (click)="redirect('register')" routerLink="/">Signup now</a>
        </div>
</form>
</div>
</div>

